<!DOCTYPE html>
<html lang="{{ with .Site.Params.languageCode }}{{.}}{{else}}en-US{{end}}">

{{ partial "head.html" . }}

<body id="poet" class="wordpress ltr en en-us child-theme multisite blog-44 y2015 m08 d23 h08 sunday logged-out singular singular-post singular-post-44">
	<!--skip to content link-->
	<a class="skip-content" href="#main">Skip to content</a>
	<div id="overflow-container" class="overflow-container">
		<div class="max-width">

			{{ partial "sidebar.html" . }}

			<section id="main" class="main" role="main" style="min-height: 3381px;">
				<div class="entry post publish author-drop-live-demo post-44 format-standard has-post-thumbnail category-cooking category-news post_tag-blogging post_tag-funny post_tag-new">
					
					<!-- featured-image -->
					{{if isset .Params "featured_image" }}
					{{ $featuredImage := index .Params "featured_image" }}
					{{ with .Params.featured_text }}<span class="sticky-status">{{ . }}</span>{{ end }}
					<img src="{{ $featuredImage }}" class="featured-image" alt="{{ .Title }}">
					{{end}}

					<article>
						<div class="post-header">
							<h1 class='post-title'>
								<a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a>
							</h1>

							<span class="post-meta">
								Publicado el {{ .Date.Format "Mon, 2 Jan 2006" }}
								<br>por <a href="/author/{{if isset .Params "author_id" }}{{index .Params "author_id"}} {{else}}springhispano {{end}}">{{if isset .Params "author_name" }} {{ index .Params "author_name" }} {{else}} SpringHispano.org {{end}}</a>
								<br>~ {{ .ReadingTime }} minutos de lectura
							</span>
						</div>
						<div class="post-content">
							{{ .Content }}
						</div>
						
						{{ with .Params.categories }}
						<div class="post-categories">
							<span>Publicado en:</span>
							{{ range . }}
							<a href="/categories/{{ . | urlize }}" title="Ver todos los contenido en {{.}}">{{.}}</a>
							{{end}}

						</div>
						{{end}}

						{{ with .Params.tags }}
						<div class="post-tags">
							<ul>
								{{ range . }}
								<li>
									<a href="/tags/{{ . | urlize }}" title="Ver todos los contenidos con el tag {{.}}">{{ . }}</a>
								</li>
								{{ end }}
							</ul>
						</div>
						{{ end }}
						
						<div class="post-content">
							
						</div>
						<div class="post-tags">
							{{ template "_internal/disqus.html" . }}
						</div>
					</article>
					<nav class="further-reading">
						<div class="previous">
							{{if .Next}}
							<span>Previous Post</span>
							<a href="{{.Next.Permalink}}">{{.Next.Title}}</a>
							{{ else }}
							<span>No hay más</span>
							<a href="/">Home</a>
							{{end}}
						</div>
						<div class="next">
							{{if .Prev}}
							<span>Next Post</span>
							<a href="{{.Prev.Permalink}}">{{.Prev.Title}}</a>
							{{ else }}
							<span>No hay más</span>
							<a href="/">Home</a>
							{{end}}
						</div>
					</nav>	
				</section>
			</div>
		</section>

		{{ partial "footer.html" . }}
	</div>
</div>

{{ partial "scripts.html" . }}

</body>
</html>
