<!DOCTYPE html>
<html lang="{{ with .Site.Params.languageCode }}{{.}}{{else}}en-US{{end}}">

{{ partial "head_single.html" . }}

<body id="poet" class="wordpress ltr en en-us child-theme multisite blog-44 y2015 m08 d23 h08 sunday logged-out singular singular-post singular-post-44">
	<!--skip to content link-->
	<a class="skip-content" href="#main">Skip to content</a>
	<div id="overflow-container" class="overflow-container">
		<div class="max-width">

			{{ partial "sidebar.html" . }}

			<section id="main" class="main" role="main" style="min-height: 3381px;">
				<div class="entry post publish author-drop-live-demo post-44 format-standard has-post-thumbnail category-cooking category-news post_tag-blogging post_tag-funny post_tag-new">
					
					{{ partial "single_generic_post.html" . }}

					<nav class="further-reading">
						<div class="previous">
							{{if .Next}}
							<span>Previous Post</span>
							<a href="{{.Next.Permalink}}">{{.Next.Title}}</a>
							{{ else }}
							<span>No hay más</span>
							<a href="/">Home</a>
							{{end}}
						</div>
						<div class="next">
							{{if .Prev}}
							<span>Next Post</span>
							<a href="{{.Prev.Permalink}}">{{.Prev.Title}}</a>
							{{ else }}
							<span>No hay más</span>
							<a href="/">Home</a>
							{{end}}
						</div>
					</nav>	
				</section>
			</div>
		</section>

		{{ partial "footer.html" . }}
	</div>
</div>

{{ partial "scripts.html" . }}

</body>
</html>
