/*
Theme Name: Poet
Template: author
Theme URI: https://www.competethemes.com/poet/
Author: Compete Themes
Author URI: https://www.competethemes.com
Description: Poet is a child theme for the Author theme.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, silver, tan, white, dark, light, one-column, two-columns, left-sidebar, fluid-layout, responsive-layout, accessibility-ready, custom-menu, featured-images, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

Poet WordPress Theme, Copyright 2015 Compete Themes
Poet is distributed under the terms of the GNU GPL

Poet is a child theme of Author

It's not recommended to add CSS to this file, as it will be lost if you ever update this child theme.
 Instead, use the Custom CSS section in the Customizer.

*/
/*===== Variables =====*/
/* Theme Colors */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
/* Base */
body {
  background: white;
}
body:before {
  background: white;
}

.main {
  background: #27292b;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', 'serif';
}

/* Sidebar/Header */
.main-sidebar {
  background: white;
}

.site-title a {
  color: #27292b;
}
.site-title a:link, .site-title a:visited {
  color: #27292b;
}
.site-title a:hover, .site-title a:active, .site-title a:focus {
  color: #27292b;
}

.tagline {
  color: #5c6066;
}

.toggle-navigation,
.toggle-dropdown {
  color: #27292b;
}

.menu-primary a {
  color: #27292b;
}
.menu-primary a:link, .menu-primary a:visited {
  color: #27292b;
}
.menu-primary a:hover, .menu-primary a:active, .menu-primary a:focus {
  color: #27292b;
}

.menu-primary-items .menu-item-has-children ul a {
  color: #3e4145;
}
.menu-primary-items .menu-item-has-children ul a:link, .menu-primary-items .menu-item-has-children ul a:visited, .menu-primary-items .menu-item-has-children ul a:hover, .menu-primary-items .menu-item-has-children ul a:active, .menu-primary-items .menu-item-has-children ul a:focus {
  color: #3e4145;
}
.menu-primary-items .menu-item-has-children ul ul a {
  color: #5c6066;
}
.menu-primary-items .menu-item-has-children ul ul a:link, .menu-primary-items .menu-item-has-children ul ul a:visited, .menu-primary-items .menu-item-has-children ul ul a:hover, .menu-primary-items .menu-item-has-children ul ul a:active, .menu-primary-items .menu-item-has-children ul ul a:focus {
  color: #5c6066;
}

.social-media-icons a {
  color: #5c6066;
}
.social-media-icons a:link, .social-media-icons a:visited {
  color: #5c6066;
}
.social-media-icons a:hover, .social-media-icons a:active, .social-media-icons a:focus {
  color: #27292b;
}

/* Post/Page */
.post-title {
  line-height: 1.3;
}

/* Blog/Archive */
.sticky-status {
  background: white;
  color: #27292b;
}

/* Widgets */
.sidebar-primary .widget {
  color: #5c6066;
}
.sidebar-primary .widget a {
  color: #5c6066;
}
.sidebar-primary .widget a:link, .sidebar-primary .widget a:visited, .sidebar-primary .widget a:hover, .sidebar-primary .widget a:active, .sidebar-primary .widget a:focus {
  color: #5c6066;
}
.sidebar-primary .widget-title {
  color: #27292b;
}