<!--
    <section id="search-2" class="widget widget_search">
      <h2 class="widget-title">Search</h2>
      <div class='search-form-container'>
        <form role="search" method="get" class="search-form" action="">
          <label class="screen-reader-text" for="search-field">Search</label>
          <input id="search-field" type="search" class="search-field" value="" name="s" title="Search for:" />
          <input type="submit" class="search-submit" value='Go' />
        </form>
      </div>
    </section>
  -->