{{ partial "fork-github.html" . }}

<div id="main-sidebar" class="main-sidebar">
  <header class="site-header" id="site-header" role="banner">
    <div id="title-container" class="title-container">
      <div id="site-avatar" class="site-avatar" style='background-image: url("{{ with .Site.Params.avatar }}{{.}}{{ else }}{{end}}")'>
      </div>
      <div class="container">
        <h1 id='site-title' class='site-title'>
          <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </h1>
        <p class="tagline">{{ with .Site.Params.tagline }} {{.}} {{ else }} {{end}}</p>
      </div>
    </div>
    <button id="toggle-navigation" class="toggle-navigation" aria-expanded="false">
      <span class="screen-reader-text">open primary menu</span>
      <i class="fa fa-bars"></i>
    </button>
    
    {{ partial "social_media.html" . }}

    <div id="menu-primary" class="menu-container menu-primary" role="navigation">
      <nav class="menu">
        <ul id="menu-primary-items" class="menu-primary-items">
          <li id="menu-item-111" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-111">
            <a href="/">Home</a>
          </li>
          {{ range .Site.Menus.main }}
          <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-111"><a href="{{.URL}}"> {{ .Name }} </a>
          </li>
          {{end}}
        </ul>
      </nav>
    </div>
  </header>

  <aside class="sidebar sidebar-primary" id="sidebar-primary" role="complementary">

    <section id="recent-posts-2" class="widget widget_recent_entries">
      <h2 class="widget-title">Contenido reciente</h2>
      <ul>
        {{ range first 5 .Site.Pages}}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </section>
    
    {{ partial "search.html" . }}

    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
    <section id="seccions-2" class="widget widget_recent_entries">
      <h2 class="widget-title">
        <a href="/{{ $taxonomyname | urlize }}">{{ title $taxonomyname }}</a>
      </h2>
      
      <ul>
        {{ range $key, $value := $taxonomy }}
        <li>
          <a href="/{{ $taxonomyname | urlize }}/{{$key}}">{{ $key }}</a>
        </li>
        {{ end}}
      </ul>
    </section>
    {{ end }}    

    {{ partial "recentcomments.html" . }}

    {{ partial "categories.html" . }}

    {{ partial "archives.html" . }}
    
    <section id="archives-3" class="widget widget_archive">
      <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{.Now.Format "2006"}}. All rights reserved. {{end}}</p>
    </section>
  </aside>
</div>
