<!DOCTYPE html>
<html lang="{{ with .Site.Params.languageCode }}{{.}}{{else}}en-US{{end}}">

{{ partial "head_general.html" . }}

<body id="poet" class="wordpress ltr en en-us child-theme multisite blog-44 y2015 m08 d23 h08 sunday logged-out singular singular-post singular-post-44">
  <!--skip to content link-->
  <a class="skip-content" href="#main">Skip to content</a>
  <div id="overflow-container" class="overflow-container">
    <div class="max-width">
      {{ partial "sidebar.html" . }}

      <section id="main" class="main" role="main" style="min-height: 3381px;">
        <div class="entry post publish author-drop-live-demo post-44 format-standard has-post-thumbnail category-cooking category-news post_tag-blogging post_tag-funny post_tag-new">

          <!-- featured-image -->
          <div class='featured-image' style='background-image: url("/content/images/map.jpg")' >
          </div>
          
          <article>
            <div class="post-header">
              <h1 class='post-title'>404: Página no encontrada</h1>
            </div>
            <div class="post-content">
              <h2>No encontramos la página que intentaste.</h2>
              <p>Este sitio que vez ahora es súper nuevo, todo el contenido previo del sitio esta pendiente de ser migrado a este nuevo. Esa puede ser la razón, te pedimos paciencia, la migración de datos a este nuevo sitio no ha sido sencilla. ¡Maldito Drupal!</p>
              <p>¿Te gustaría ayudarnos?</p>
              <p>Mientras tanto echa un vistazo a lo nuevo, usa la navegación.</p>
            </div>
          </article>
        </section>
      </div>

    </section>

    {{ partial "footer.html" . }}
  </div>
</div>

{{ partial "scripts.html" . }}

</body>
</html>
