<!DOCTYPE html>
<html lang="{{ with .Site.Params.languageCode }}{{.}}{{else}}en-US{{end}}">

{{ partial "head.html" . }}

<body id="poet" class="wordpress ltr en en-us child-theme multisite blog-44 y2015 m08 d23 h01 sunday logged-out plural home blog">
  <!--skip to content link-->
  <a class="skip-content" href="#main">Skip to content</a>
  <div id="overflow-container" class="overflow-container">
    <div class="max-width">
      {{ partial "sidebar.html" . }}

      {{ partial "posts.html" . }}

      {{ partial "footer.html" . }}
    </div>
  </div>

  {{ partial "scripts.html" . }}

</body>
</html>